.card {
  border: none;
  border-radius: 1rem;
}

.table-hover tbody tr:hover {
  background-color: rgba(13, 110, 253, 0.05);
}

.badge-success {
  background-color: #198754;
  color: #fff;
  font-weight: 500;
  padding: 0.4em 0.7em;
  border-radius: 0.5rem;
}

.badge-primary {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 500;
  padding: 0.4em 0.7em;
  border-radius: 0.5rem;
}
