<div class="card property-card position-relative">
  <img [src]="property.image" class="card-img-top" alt="property">

  <!-- Bouton Favori visible seulement si connecté ET sur Home -->
  <button *ngIf="isConnected && isHomePage"
          class="favorite-btn"
          (click)="toggleFavorite()">
    <i [class]="isFavorite ? 'bi-heart-fill text-danger' : 'bi-heart text-white'"></i>
  </button>

  <div class="card-body">
    <h5 class="card-title">{{ property.title }}</h5>
    <p class="card-text">{{ property.location }}</p>
    <p class="card-text">{{ property.price }}</p>
  </div>
</div>
