<div class="login-page">
  <div class="login-card">
    <h2>Forgot Password</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <i class="fas fa-envelope"></i>
        <input type="email" name="email" [(ngModel)]="email" placeholder="Email Address" required />
      </div>

      <button type="submit">Send</button>
    </form>

    <div class="links">
      <p>Already have an account? <a routerLink="/login">Login</a></p>
      <p>Don't have an account yet? <a routerLink="/register">Create Account</a></p>
    </div>
  </div>
</div>
